Données en tables
===============

On propose d'abord une correction interactive des trois QCM de novembre, du moins des questions portant sur les données organisées en tables.

On va ensuite répondre à un certain nombre de questions portant sur des données lues dans un fichier csv ; cette deuxième partie est à compléter, et le notebook est à rendre pour le vendredi 12 mars, via pronote.

## Retour sur les QCM

### QCM du 13 novembre

**Q9**. On définit :
```T = [ {'fruit': 'banane', 'nombre': 25}, {'fruit': 'orange', 'nombre': 124},{'fruit': 'pomme', 'nombre': 75}, {'fruit': 'kiwi', 'nombre': 51} ] ```
  
  Quelle expression a-t-elle pour valeur le nombre de pommes ?

A	```T[2]['nombre']```

B	```T[2,'nombre']```

C	```T[3]['nombre']```

D	```T[3,'nombre']```

In [ ]:
T = [ {'fruit': 'banane', 'nombre': 25}, {'fruit': 'orange', 'nombre': 124},{'fruit': 'pomme', 'nombre': 75}, {'fruit': 'kiwi', 'nombre': 51} ]

In [ ]:
T[2]['nombre']

In [ ]:
T[2,'nombre']

In [ ]:
T[3]['nombre']

In [ ]:
T[3,'nombre']

**Q10**. Que réalise l'instruction suivante :

```mon_fichier = open("exemple.txt", "r")```

A	Elle permet d’ouvrir le fichier "exemple.txt" en mode lecture si le fichier est dans le même dossier que le fichier du programme Python comportant cette instruction.

B	Elle permet d’ouvrir le fichier "exemple.txt" en mode lecture même si le fichier n’est pas dans le même dossier que le fichier du programme Python comportant cette instruction.

C	Elle permet d’ouvrir le fichier "exemple.txt" en mode écriture si le fichier est dans le même dossier que le fichier du programme Python comportant cette instruction.

D	Elle permet d’ouvrir le fichier "exemple.txt" en mode écriture même si le fichier n’est pas dans le même dossier que le fichier du programme Python comportant cette instruction.

In [ ]:
help(open)

**Q11**. Laquelle de ces affirmations est vraie ?

A	on ne peut accéder au contenu d'un fichier CSV que par l'intermédiaire d'un programme Python

B	CSV est un format de chiffrement des données

C	le format CSV a été conçu pour assurer la confidentialité d'une partie du code d'un programme

D	les fichiers CSV sont composés de données séparées par des caractères comme des virgules

**Q12**. On considère la table suivante : 

    ```t = [ {'type': 'marteau', 'prix': 17,'quantité': 32}, {'type': 'scie', 'prix': 24, 'quantité': 3},	{'type': 'tournevis', 'prix': 8, 'quantité': 45} ]```

Quelle expression permet d'obtenir la quantié de scies ?

A	```t[2]['quantité']```

B	```t[1]['quantité']```

C	```t['quantité'][1]```

D	```t['scies']['quantité']```

In [ ]:
t = [ {'type': 'marteau', 'prix': 17,'quantité': 32}, {'type': 'scie', 'prix': 24, 'quantité': 3},    {'type': 'tournevis', 'prix': 8, 'quantité': 45} ]

In [ ]:
t[2]['quantité']

In [ ]:
t[1]['quantité']

In [ ]:
t['quantité'][1]

In [ ]:
t['scies']['quantité']

**Q13**. Quelle est la valeur de la variable table à la fin de l'exécution du script suivant :

```python
table = [[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]
table [1][2] = 5
```

A	```[[1, 5, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]```

B	```[[1, 2, 3], [5, 2, 3], [1, 2, 3], [1, 2, 3]]```

C	```[[1, 2, 3], [1, 2, 5], [1, 2, 3], [1, 2, 3]]```

D	```[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 5, 3]]```

In [ ]:
table = [[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]
table [1][2] = 5

### QCM du 20 novembre

**Q5**. On exécute le script suivant :

```python
inventaire = {'pommes': 430, 'bananes': 312,
              'oranges' : 274, 'poires' : 137}

stock = 0
for fruit in inventaire.keys():
    if fruit != 'bananes':
        stock = stock + inventaire[fruit]
```

Que contient la variable stock à la fin de cette exécution ?


**A**	```{430, 274, 137}```

**B**	```312```

**C**	```841```

**D**	```{ 'pommes', 'oranges', 'poires' }```

In [ ]:
inventaire = {'pommes': 430, 'bananes': 312,
              'oranges' : 274, 'poires' : 137}

stock = 0
for fruit in inventaire.keys():
    if fruit != 'bananes':
        stock = stock + inventaire[fruit]

**Q6**. Quel est le résultat de l'évaluation de l'expression Python suivante ?

```[ n * n for n in range(10) ]```

**A**	```[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]```

**B**	```[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]```

**C**	```[0, 2, 4, 8, 16, 32, 64, 128, 256, 512]```

**D**	```[0, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]```

In [ ]:
[ n * n for n in range(10) ]

**Q7**. On a défini

```python
repertoire = [{'nom': 'Francette', 'poste': 412}, 
              {'nom': 'Jeanne', 'poste': 222}, 
              {'nom': 'Éric', 'poste': 231}]
```

Quelle expression permet d'accéder au poste d'Éric ?

**A** ```repertoire[2]['poste']```

**B**	```repertoire['poste'][2]```

**C** 	```repertoire['Éric']['poste']```

**D**	```repertoire['Éric']```

In [ ]:
repertoire = [{'nom': 'Francette', 'poste': 412}, 
{'nom': 'Jeanne', 'poste': 222}, 
{'nom': 'Éric', 'poste': 231}]

In [ ]:
repertoire[2]['poste']

In [ ]:
repertoire['poste'][2]

In [ ]:
repertoire['Éric']['poste']

In [ ]:
repertoire['Éric']

**Q8**. Si on tape dans la console d'éxécution la commande :

```[1,4,3] + [2,4,5]```

qu'obtient-on ?

**A**	`[3, 8, 8]`

**B**	`[19]`

**C**	`[1, 4, 3, 2, 4, 5]` 

**D**	un message d'erreur car l'addition n'est pas compatible avec les listes

In [ ]:
[1,4,3] + [2,4,5]

**Q9**. Qu'est-ce que le CSV ?


**A**	Un langage de programmation

**B**	Un format de fichier permettant de stocker de l’information

**C** 	Un algorithme permettant de rechercher une information dans un fichier

**D**	Un format de fichier permettant de définir le style d’une page web

**Q10**. On considère l’extraction suivante d'une base de données des départements français. Cette extraction a ensuite été sauvegardée dans un fichier texte.

"1","01","Ain","AIN","ain","A500"

"2","02","Aisne","AISNE","aisne","A250"

"3","03","Allier","ALLIER","allier","A460"

"4","04","Alpes-de-Haute-Provence","ALPES-DE-HAUTE-PROVENCE","alpes-de-haute-provence","A412316152"

"5","05","Hautes-Alpes","HAUTES-ALPES","hautes-alpes","H32412"

Quel est le format de ce fichier ?

**A**	YML

**B**	XML

**C**	CSV

**D**	JSON

**Q11**. On exécute le script suivant :

```python
asso = []
L =  [	['marc','marie'], ['marie','jean'], ['paul','marie'],  ['marie','marie'], ['marc','anne']   ]
for c in L :
     if c[1]==’marie’:
           asso.append(c[0])
```

Que vaut asso à la fin de l'exécution ?

**A**	`['marc', 'jean', 'paul']`

**B**	`[['marc','marie'], ['paul','marie'], ['marie','marie']]`

**C**	`['marc', 'paul', 'marie']`

**D**	`['marie', 'anne']`

### QCM du 27 novembre

**Q8**. On considère le dictionnaire

```D = {1: 3, 2: 4, 3: 5, 4: 2, 5: 1}```

Quelle est la valeur de ```D[D[D[2]]``` ?

**A**	2

**B**	3

**C**	4

**D**	5

In [ ]:
D = {1: 3, 2: 4, 3: 5, 4: 2, 5: 1}

**Q9**. On considère la liste de listes suivante : 

```python
tictactoe =[['X','O','O'],['O','O','O'],['O','O','X']]
```

Quelle instruction permet d'obtenir une diagonale de 'X' ?

**A**	```tictactoe[3] = 'X'```

**B**	```tictactoe[4] = 'X'```

**C** 	```tictactoe[1][1] = 'X'```

**D**	```tictactoe[2][2] = 'X'```

In [ ]:
tictactoe =[['X','O','O'],['O','O','O'],['O','O','X']]
tictactoe[3] = 'X'

In [ ]:
tictactoe =[['X','O','O'],['O','O','O'],['O','O','X']]
tictactoe[4] = 'X'

In [ ]:
tictactoe =[['X','O','O'],['O','O','O'],['O','O','X']]
tictactoe[1][1] = 'X'

In [ ]:
tictactoe =[['X','O','O'],['O','O','O'],['O','O','X']]
tictactoe[2][2] = 'X'

**Q10**. Quelle est la valeur de l'expression ```[ 2*k + 1 for k in range(4) ]``` ?

**A**	```[1,3,5,7]```

**B**	```[0,1,2,3]```

**C** 	```[3,5,7,9]```

**D**	```[1,2,3,4]```

In [ ]:
[ 2*k + 1 for k in range(4) ]

**Q12**. On a extrait les deux premières lignes de différents fichiers. 

Déterminer celui qui est un authentique fichier CSV :

**A**	  Nom,Pays,Temps

Camille Muffat,France,241.45
    
**B**	  Nom Pays Temps

Camille Muffat France 241.45
    
**C**	  [

	{ "Nom": "Camille Muffat", "Pays": "France", "Temps": 241.45},
    
**D**	  [

	{ Nom: "Camille Muffat", Pays: "France", Temps: 241.45},

**Q13**. Quelle expression Python permet d’accéder au numéro de téléphone de Tournesol, sachant que le répertoire a été défini par l’affectation suivante :

```python
repertoire = [{'nom':'Dupont', 'tel':'5234'},{'nom':'Tournesol', 'tel':'5248'},{'nom':'Dupond', 'tel':'3452'}]
```

**A**	```repertoire['Tournesol']```

**B**	```repertoire['tel'][1]```

**C**	```repertoire[1]['tel']```

**D**	```repertoire['Tournesol'][tel]```

In [ ]:
repertoire = [{'nom':'Dupont', 'tel':'5234'},{'nom':'Tournesol', 'tel':'5248'},{'nom':'Dupond', 'tel':'3452'}]

In [ ]:
repertoire['Tournesol']

In [ ]:
repertoire['tel'][1]

In [ ]:
repertoire[1]['tel']

In [ ]:
repertoire['Tournesol'][tel]

**Q23**. On définit :

```python
T = [{'fruit': 'banane', 'nombre': 25}, {'fruit': 'orange', 'nombre': 124},{'fruit': 'pomme', 'nombre': 75}, {'fruit': 'kiwi', 'nombre': 51}]
``` 

Quelle expression a-t-elle pour valeur le nombre de pommes ?

**A**	```T[2]['nombre']```

**B**	```T[2,'nombre']```

**C**	```T[3]['nombre']```

**D**	```T[3,'nombre']```

In [ ]:
T = [{'fruit': 'banane', 'nombre': 25}, {'fruit': 'orange', 'nombre': 124},{'fruit': 'pomme', 'nombre': 75}, {'fruit': 'kiwi', 'nombre': 51}]

In [ ]:
T[2]['nombre']

In [ ]:
T[2,'nombre']

In [ ]:
T[3]['nombre']

In [ ]:
T[3,'nombre']

## Travail sur une table en csv

In [1]:
import csv
with open('boxo.csv','r') as boxo:
    table=[]
    lecteur=csv.DictReader(boxo,delimiter=';')
    for film in lecteur:
        table.append(film)

In [2]:
table[:5]

[{'rang': '1',
  'titre': 'Titanic',
  'réalisateur': 'James Cameron',
  'année': '1997',
  'entrées': '20634793',
  'pays': 'États-Unis'},
 {'rang': '2',
  'titre': "Bienvenue chez les Ch'tis",
  'réalisateur': 'Dany Boon',
  'année': '2008',
  'entrées': '20413165',
  'pays': 'France'},
 {'rang': '3',
  'titre': 'Intouchables',
  'réalisateur': 'E. Toledano / O. Nakache',
  'année': '2011',
  'entrées': '19385300',
  'pays': 'France'},
 {'rang': '4',
  'titre': 'Blanche-Neige et les Sept Nains',
  'réalisateur': 'David Hand',
  'année': '1938',
  'entrées': '18319651',
  'pays': 'États-Unis'},
 {'rang': '5',
  'titre': 'La Grande Vadrouille',
  'réalisateur': 'Gérard Oury',
  'année': '1966',
  'entrées': '17273065',
  'pays': 'France, Royaume-Uni'}]

Nous allons reprendre quelques manipulations élémentaires sur la table que nous venons de lire, en utilisant les constructions :
    
* parcours de table,
* filtrage de certaines lignes qui nous intéressent,
* accumulation de données (somme, moyenne, maximum...)

#### Nombre de films dans la base

In [3]:
nombre=0
for film in table:
    nombre=nombre+1
nombre

100

#### Minimum d'entrées des films français

In [4]:
minimum=999999999999
for film in table:
    if 'France' in film['pays']:
        minimum=min(minimum,int(film['entrées']))
minimum

6645177

#### Moyenne des entrées des films américains

In [7]:
nombre=0
somme=0
for film in table:
    if 'États-Unis'==film['pays']:
        nombre=nombre+1
        somme=somme+int(film['entrées'])
somme/nombre

10080843.025

#### Nombre de films qui ont fait plus de 10000000 entrées on bien sont en coproduction

In [9]:
nombre=0
for film in table:
    if int(film['entrées'])>=10000000 or ',' in film['pays']:
        nombre=nombre+1
nombre

54

#### Liste des titres des films français ou en partie français

In [10]:
liste=[]
for film in table:
    if 'France' in film['pays']:
        liste.append(film['titre'])
liste

["Bienvenue chez les Ch'tis",
 'Intouchables',
 'La Grande Vadrouille',
 'Astérix et Obélix : Mission Cléopâtre',
 'Les Visiteurs',
 'Le Petit Monde de don Camillo',
 "Qu'est-ce qu'on a fait au Bon Dieu ?",
 'Le Corniaud',
 'Les Bronzés 3 : Amis pour la vie',
 'Trois hommes et un couffin',
 'Taxi 2',
 'La Guerre des boutons',
 'Les Misérables',
 'Le Dîner de cons',
 'Le Grand Bleu',
 "L'Ours",
 'Emmanuelle',
 'La Vache et le Prisonnier',
 'Astérix et Obélix contre César',
 'Le Bataillon du ciel',
 "Le Fabuleux Destin d'Amélie Poulain",
 'Les Choristes',
 'Rien à déclarer',
 'Les Couloirs du temps : Les Visiteurs 2',
 'Un Indien dans la ville',
 'Le Gendarme de Saint-Tropez',
 'Le Cinquième Élément',
 'Les Bidasses en folie',
 'La Famille Bélier',
 'Le Retour de don Camillo',
 'La Vérité si je mens ! 2',
 'Les Aventures de Rabbi Jacob',
 'Jean de Florette',
 'Jour de fête',
 'Monsieur Vincent',
 "Si Versailles m'était conté...",
 'Les Grandes Vacances',
 'Le gendarme se marie',
 'Astérix aux Jeux olympiques',
 'Mission spéciale',
 'Fanfan la Tulipe',
 "Qu'est-ce qu'on a encore fait au Bon Dieu ?",
 'Les Trois Frères',
 'Nous irons à Paris',
 'Manon des sources']

## Au travail

Il s'agit maintenant de travailler sur le fichier `boxoPrenomN.csv` qu'on trouvera sur github.com/LyceeCurieVire/NSI dans le répértoire Tables. 

Bien entendu, chacun travaillera sur son propre fichier.

Pour chaque question, on attend bien entendu la réponse mais surtout le code qui a permis d'obtenir cette réponse.

On pourra bien sûr s'inspirer des exemples proposés ci-dessus.

**Q1** Combien trouve-t-on de films français dans la table ?

**Q2** Quel est le nombre moyen d'entrées pour les films anglais ?

**Q3** Quel est le nombre moyen d'entrées pour les films états-uniens (ou en coproduction avec les Etats-Unis) sortis entre 1980 compris et 2000 compris ?

**Q4** Quel est le nombre maximum d'entrées pour un film ni français ni états-unien ?

**Q5** Lister tous les films italiens ou allemands.

**Q6** Donner la liste des films en coproduction avant 2010 ou qui ont fait plus de dix millions d'entrées.

**Q7** Quelle est la proportion des films français qui sont en coproduction avec un autre pays ?

**Q8** Combien de films ont un/le réalisateur qui s'appelle Jackson ?

**Q9** Donner les dates des films dont le nom contient "Harry".

**Q10** Quel est le film qui a fait le moins d'netrés parmi les films qui sont soit états-uniens avant 2000 (inclus) soit d'un autre pays depuis 2001 ?